{%extends 'base.html' %}
{% block titel %}TechTrader | Über das Projekt{%endblock%}

{%block content%}
  <article>
  <h1>Über das Projekt</h1>
  <p class="allgemeine_beschreibung">Das Hauptziel dieses Projekts ist es, eine Art Testumgebung für technische
    Handelsstrategien bereitzustellen.
    Mit Hilfe der historischen Aktiendaten aus den letzten zwanzig Jahren kann eine lange Reihe von
    Szenarien nachgebildet und getestet werden. Die Simulation wird nicht nur die Erfolgsrate messen,
    sondern auch eine breite Palette von statistischen Daten liefern, die helfen können, die Strategie
    zu verbessern. Ein Hauptmerkmal dieses Produkts ist die vollständige Anpassbarkeit jedes Elements
    einer Strategie. Verhaltensregeln und sogar technische Indikatoren können individuell erstellt und an
    die eigenen Bedürfnisse angepasst werden, und keine Sorge, die wichtigsten Indikatoren werden bereits für jeden
    Benutzer bereitgestellt.

  </p>
</article>
{%endblock%}