<!Doctype html>
{% comment %} Base Struktur für jede HTML Seite{% endcomment %}
<html>
<head>
    
    <title>{% block titel %}{%endblock%}</title>{% comment %} Block für Tab titel{% endcomment %}
    {% load static %}  {% comment %} Tag für das Laden von statischen Daten wie js oder css{% endcomment %}
    {% include "menubar_head.html" %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

    {% block style %}{% endblock %} {% comment %} Block für weitere CSS Style  {% endcomment %}
    {% block skripte %}{% endblock %}  {% comment %} zusätzlichen Skripte {% endcomment %}
</head>
<body>
    {% include "menubar_body.html" %}
        
    <div class="content-wrapper">
        {% block content %}{% endblock %}
    </div>


    {% include "menubar_skript.html" %}
</body>
</html>