<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <script src="{% static 'script.js' %}" defer></script> 
  <!-- defer means that the script will be loaded after the html has been loaded -->
  <title>Document</title>
</head>
<body>
  <section class="container">

    <div class="draggable" draggable="true">
      <span class="number">1</span> alpha
    </div>
    <div class="draggable" draggable="true">
      <span class="number">2</span> Bravo
    </div>
  </section>
  <section class="container">
    <div class="draggable" draggable="true">
      <span class="number">3</span> charlie
    </div>
    <div class="draggable" draggable="true">
      <span class="number">4</span> delta
    </div>
  </section>
</body>
</html>