  <nav>
      <ul>
          <li id="logo"><a href="/..">TechTrader</a></li>
          <li class="menuitem"><a href="/indikatoren/" {% if request.path == '/indikatoren/' %} class='active' {%endif%}>Indikatoren</a></li>
          <li class="menuitem"><a href="/regeln/" {% if request.path == '/regeln/' %} class='active' {%endif%}>Regeln</a></li>
          <li class="menuitem"><a href="/strategien/" {% if request.path == '/strategien/' %} class='active' {%endif%}>Strategien</a></li>
          <li class="menuitem" ><a href="/simulationen/" {% if request.path == '/simulationen/' %} class='active' {%endif%}>Simulationen</a></li>
      </ul>
  </nav>
