{% if appName == "strategie" %}
    {% block style %}
        {%load static%} 
        <link rel = "stylesheet" href = "{% static 'drag-and-drop.css' %}">
    {% endblock %} 

    {% block skripte %}
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="{% static 'drag-and-drop.js' %}" defer></script> 
    {% endblock %} 
{% endif %}

{% if appName == "strategie" %}
    <form action = "." method = "post" onsubmit = "ausgewählteRegelnSpeichern()"> {% csrf_token %}

        {{form.as_p}}  

        {% include './drag_and_drop.html'%}

        
{% else %} 
    <form action = "." method = "post"> {% csrf_token %}

        <label class = "labelspan">Name :</label>
        {{form.name}}

        <label class = "labelspan">Beschreibung :</label>
        {{form.beschreibung}}

        {% if appName == "indikator" %}
            <label class = "labelspan">Code :</label>
            {{form.berechnung_pseudo_code}}
            {{form.eigene_skala}}
            <label class = "labelspan">Eigene Skala verwenden?</label>
        {% endif %}

        {% if appName == "regel" %}
            <label class = "labelspan">Code :</label>
            {{form.berechnung_pseudo_code}}
            
        {% endif %}    
{% endif %}