<span class = "labelspan">Beschreibung</span>
    <p class = "objektinformation">{{object.beschreibung}}</p>
<span class = "labelspan">Verwendete Regeln</span>
<p></p>


<p> * globale Objekte </p>
<table>
    <colgroup>
        <col span = "1" style = "width: 7;">
        <col span = "1" style = "width: 30%;">
        <col span = "1" style = "width: 63%;">
    </colgroup>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Beschreibung</th>
    </tr>
    {% for regel in verwendeteRegeln%}
        {%if regel.benutzer_id == "superuser" %}
            <tr class = 'clickable-row' data-href = "{% url 'regel:regel-details' id=regel.id %}"> 
                <td>{{regel.id}}*</td>
                <td>{{regel.name}}</td>
                <td>{{regel.beschreibung}}</td>
            </tr>
        {%else%}
            <tr class = 'clickable-row' data-href = "{% url 'regel:regel-details' id=regel.id %}"> 
                <td>{{regel.id}}</td>
                <td>{{regel.name}}</td>
                <td>{{regel.beschreibung}}</td>
                </tr>
        {%endif%}
    {%endfor%}
</table> 

<script>
    jQuery(document).ready(function($) {
        $("table tr").hide();
        $("table tr").each(function(index){
          $(this).delay(index*100).show(500);
        });
      $(".clickable-row").click(function() {
          window.location = $(this).data("href");
      });
    });
</script>