{% extends 'base.html' %}

{% block titel %}TechTrader | {{appName | title}} entfernen{%endblock%}

{% block content %}
    <article>
        <h1 class = "objektinformation">
            {% include 'zurueck_pfeil.html'%}
            Sind Sie sicher, dass Sie {{appName | title}} "{{object.name}}" entfernen möchten?
        </h1>

        <span class = "labelspan">Beschreibung</span>
        <p class = "objektinformation">{{object.beschreibung}}</p>

        <span class = "labelspan">Code</span>
        {% autoescape off %}
            <p>{{object.berechnung_pseudo_code|linebreaks}}</p>
        {% endautoescape %}

        {%if appName == "indikator" %}
            <span class = "labelspan">Hat eigene Skala</span>
            {%if object.eigene_skala%}
                <p> Ja </p>
            {%else%}
                <p> Nein </p> 
            {%endif%}
        {% endif %}

        <form action = "." method = "POST">{%csrf_token%}
            <input id = "submit"  type = 'submit' value = 'Ja' /> 
        </form>

        <form action = "../">
            <input id = "formzurueck"  type = "submit" value = "Abbrechen" />
        </form>
    </article>

{% endblock %} 