{% extends 'base.html' %}

{% block titel %}
  Indikatoren Liste
{%endblock%}

{% block content %}
  <h1>Indikatoren</h1>
  <table>
      <tr>
          <th>Name</th>
          <th>Beschreibung</th>
      </tr>
      {% for indikator in object_list%}
        <tr>
            <td><a href='{{indikator.get_absolute_url}}'>{{indikator.name}}</a></td>
            <td>{{indikator.beschreibung}}</td>
        </tr>
      {%endfor%}
  </table>   

  <form action="./erstellen/">
      <input type="submit" value="Neuer Indikator" />
  </form>

  <div>
      {% include 'zurück.html' with link="/../" %}
  </div>
{% endblock %}

   
