{%extends 'base.html' %}

{% block titel %}
    Indikator Details
{%endblock%}

{% block content %}
    <article>
        <h1>
            {% include 'zurueck_pfeil.html'%}
            <span id="headline1span">
                ID# {{object.id}}
            </span>
            Indikator "{{object.name}}"
        </h1>

        <span class="labelspan">Beschreibung</span>
        <p>{{object.beschreibung}}</p>
        
        <span class="labelspan">Code</span>
        <p>{{object.code|safe}}</p>

        <form action="./graph/">
            <input id="submit" id="formzurueck"  type="submit" value="Plotten" />
        </form>  

        <form action="./bearbeiten/">
            <input id="submit"  type="submit" value="Bearbeiten" />
        </form>
        
        <form action="./entfernen/">
            <input id="formzurueck"  type="submit" value="Entfernen" />
        </form> 
    </article>
{% endblock %}