{%extends 'base.html' %}

{% block titel %}
    Indikator Details
{%endblock%}

{% block content %}
    <h1> Indikator Name: {{object.name}} </h1>
    <p>Indikator Beschreibung: {{object.beschreibung}}</p>
    <p>Code: {{object.code}}</p>

    <form action="./bearbeiten/">
        <input type="submit" value="Bearbeiten" />
    </form>
    <form action="./entfernen/">
        <input type="submit" value="Entfernen" />
    </form>

    <div>{% include 'zurück.html' with link="/indikatoren/" %}</div>
{% endblock %}