{%extends 'base.html' %}
{% block titel %}TechTrader | Indikatoren{%endblock%}
    
{%block style%}
  {% load static%}
  <link rel="stylesheet" href="{% static 'style.css' %}" defer>
{%endblock%}

{%block content%}


    <article>
        <h1>Indikatoren</h1>
        <p>Platzhalter</p>
        <form action="./hinzufuegen/">
          <input id="btnadd" type="submit" value="+ Indikator hinzufügen" />
        </form>
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Beschreibung</th>
            </tr>
            {% for indikator in object_list%}
            <tr> 
                <td>{{indikator.id}}</td>
                <td><a href="{% url 'indikator:indikator-details' id=indikator.id %}">{{indikator.name}}</a></td>
                <td>{{indikator.beschreibung}}</td>
            </tr>
          {%endfor%}
        </table>
    </article>

{%endblock%}