{% extends 'base.html' %}

{% block titel %}TechTrader | Indikator entfernen{%endblock%}

{% block skritpe%}
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="  crossorigin="anonymous"></script>
{%endblock%}

{% block content %}
    <article>
        <h1>
            {% include 'zurueck_pfeil.html'%}
            Sind Sie sicher, dass Sie den Indikator "{{object.name}}" entfernen möchten?
        </h1>

        <span class="labelspan">Beschreibung</span>
        <p>{{object.beschreibung}}</p>

        <span class="labelspan">Code</span>
        <p>{{object.code}}</p>

        <form action="http://127.0.0.1:8000/indikatoren/" method="get">
            <input id="submit" onclick="httpGet()" type='submit' value='Ja' /> 
        </form>

        <form action="../">
            <input id="formzurueck"  type="submit" value="Abbrechen" />
        </form>
    </article>

    <script>
        function httpGet()
        {   
            var url = "http://127.0.0.1:8001/indikatoren/entfernen/"+{{object.id}}
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "GET", url, false );
            xmlHttp.send( null );
            console.log(url, xmlHttp.responseText)
        }
    </script>
{% endblock %} 