{%extends 'base.html' %}

{% block titel %}TechTrader | Indikatoren{%endblock%}
    


{%block content%}
  <article>
      <h1>Indikatoren</h1>

      {% comment %} <p class="allgemeine_beschreibung">
      Indikatoren sind quantitativer Natur und versuchen, Aktien- oder Finanzindexdaten zu interpretieren, 
      um Marktbewegungen zu prognostizieren. Marktindikatoren sind eine Untergruppe der technischen Indikatoren 
      und bestehen in der Regel aus Formeln und Kennziffern. Sie helfen Investoren bei ihren Investitions-/Handelsentscheidungen.
      </p> {% endcomment %}

      <form action="./hinzufuegen/">
        <input id="btnadd" type="submit" value="+ Indikator hinzufügen" />
      </form>

      <table>
          <colgroup>
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 25%;">
            <col span="1" style="width: 65%;">
          </colgroup>
          <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Beschreibung</th>
          </tr>
          {% for indikator in object_list%}
          <tr class='clickable-row' data-href="{% url 'indikator:indikator-details' id=indikator.id %}"> 
              <td>{{indikator.id}}</td>
              <td>{{indikator.name}}</td>
              <td>{{indikator.beschreibung}}</td>
          </tr>
        {%endfor%}    
      </table>
  </article>
  
  <script>
    jQuery(document).ready(function($) {
        $("table tr").hide();
        $("table tr").each(function(index){
          $(this).delay(index*100).show(500);
        });
      $(".clickable-row").click(function() {
          window.location = $(this).data("href");
      });
    });
    
  </script>
{%endblock%}