{% extends 'base.html' %}

{% block titel %}TechTrader | Simulation Ergebnis{%endblock%}

{% block skripte %}
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="  crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-2.2.3.min.js"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.2.3.min.js"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.2.3.min.js"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.2.3.min.js"></script>
    {{script|safe}}
{% endblock %}

{% block content %}            
    <article>
        <h1>
            {% include 'zurueck_pfeil.html'%}
            {% for item in daten%}
                Simulation für ISIN: {{item.ISIN}}
            {% endfor %}
        </h1>
        <div id="statistikdate">
            <div class="blocktext">
                <span class="labelspan">Zeitraum von:</span>
                <span id="von_datum"></span>
            </div>
            
            <div class="blocktext">
                <span class="labelspan">Zeitraum bis:</span>
                <span id="bis_datum"></span>
            </div>
        </div>

        <div id="statistik">
            {{div|safe}}
        </div>

        <div id="statefields">

            <div class="statecounter">
                <span class="yellowcount">35</span>
                <span class="countdescription">Käufe</span>
            </div>

            <div class="statecounter">
                <span class="yellowcount">33</span>
                <span class="countdescription">Verkäufe</span>
            </div>

            <div class="statecounter">
                <span class="yellowcount">29</span>
                <span class="countdescription">Gewinn-Trades</span>
            </div>

            <div class="statecounter">
                <span class="yellowcount">4</span>
                <span class="countdescription">Verlust-Trades</span>
            </div>

            <div class="statecounter">
                <span class="yellowcount">-6,86%</span>
                <span class="countdescription">Drawdown</span>
            </div>
            <div class="statecounter">
                <span class="yellowcount">58.977</span>
                <span class="countdescription">Max. Gewinn</span>
            </div>

            <div class="statecounter">
                <span class="yellowcount">1221</span>
                <span class="countdescription">Max. Verlust</span>
            </div>

            <div class="statecounter">
                <span class="yellowcount">+17%</span>
                <span class="countdescription">Ø-Performance pro Monat</span>
            </div>

            <div class="statecounter">
                <span class="yellowcount">+133%</span>
                <span class="countdescription">Ø-Performance pro Jahr</span>
            </div>

            <div class="statecounter">
                <span class="yellowcount">+516%</span>
                <span class="countdescription">Gesamt-Performance</span>
            </div>
        </div>

        <div class="endbuttons">
            <form action="../reconfig/">
                <input id="submit"  type="submit" value="Bearbeiten" />
            </form>
        </div>       
    </article>

    <script>
        $(document).ready( function () {
            datumKorrigieren()
            
        });

        function datumKorrigieren(){
            var daten = {0:"{{daten.first.von_datum}}",1:"{{daten.first.bis_datum}}"}
            var elemente = {0:$("#von_datum"),1:$("#bis_datum")}
            for(i=0;i<2;i++){
                datum=daten[i]
                element=elemente[i]
                datum = datum.split(/[%-]+/)
                datum.reverse()
                datum_komplett = datum.join(".")
                element.text(datum_komplett.slice(0,-1))
            }
        }
    </script>
{% endblock %}    

