{%extends 'base.html' %}

{% block titel %}TechTrader | Simulation rekonfigurieren{%endblock%}

{%load static%}   

{%block skripte%}
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="  crossorigin="anonymous"></script>
    <script src="{% static 'dropdown.js' %}" defer></script> 
{% endblock %} 

{%block content%}
    <article>
        <h1>
            {% include 'zurueck_pfeil.html'%}
            Simulation rekonfigurieren
        </h1>
        
        <form action="." method="post" onsubmit="ausgewählteStrategieSpeichern()"> {% csrf_token %}
            {{form.as_p}}  
            
            <select id="addsimhead">
            <option value="">Bitte wählen Sie eine Strategie aus.</option>
                {% for strategie in strategien %}
                    <option value="{{strategie.id}}">ID: {{strategie.id}} - Name: {{strategie.name}} - Beschreibung: {{strategie.beschreibung}}</option>
                {%endfor%}
            </select>

            <input id="submit" type='submit' value="Simulieren">
        </form>
        
    </article>

    <script>
        $(document).ready( function () {
            idArray = JSON.parse("{{strategien_ID_Liste}}")
            gewaehlteStrat = parseInt($("#id_strategie").val())
            for(i=0;i<idArray.length;i++){
                console.log(idArray[i] )
                if(gewaehlteStrat == idArray[i]){
                    $('#addsimhead').val(idArray[i]);
                }
            }
        });         
    </script>
{%endblock%}