{%extends 'base.html' %}

{% block titel %}Simulation erstellen{%endblock%}

{% block style %}{% endblock %} 

{% block skripte %}

    {%load static%} 
    <script src="{% static 'dropdown.js' %}" defer></script> 
{% endblock %} 


{% block content %}
    <form action="." method="post" onsubmit="ausgewählteStrategieSpeichern()"> {% csrf_token %}
        {{form.as_p}}  
        
        <select id="gewählteStrategie">
            {% for strategie in strategien %}
            <option value="{{strategie.id}},{{strategie.name}}">{{strategie.name}}</option>
                
            {%endfor%}
          </select>

        <input type='submit' value="Simulieren">
    </form>
    <div>{% include 'zurück.html' with link="/simulationen/" %}</div>
{% endblock %}


