{% extends 'base.html' %}

{% block titel %}TechTrader | Regel bearbeiten{%endblock%}

{% block content %}
    <article>
        <h1>
            {% include 'zurueck_pfeil.html'%}
            ID# {{object.id}} bearbeiten
        </h1>
        
        <form action="." method="post"> {% csrf_token %}
            {{form.as_p}}  
            <input id="submit" type='submit' value="Speichern">
        </form>

        <form action="/regeln/{{object.id}}">
            <input id="formzurueck"  type="submit" value="Zurück" />
        </form>
    </article>
{% endblock %}