{% extends 'base.html' %}

{% block titel %}TechTrader | Regel entfernen{%endblock%}

{% block content %}
    <article>
        <h1>
            {% include 'zurueck_pfeil.html'%}
            Sind Sie sicher, dass Sie die Regel "{{object.name}}" entfernen möchten?
        </h1>

        <span class="labelspan">Beschreibung</span>
        <p>{{object.beschreibung}}</p>

        <span class="labelspan">Code</span>
        <p>{{object.code}}</p>

        <form action="http://127.0.0.1:8000/regeln/" method="get">
            <input id="submit" onclick="httpGet()" type='submit' value='Ja' /> 
        </form>
        
        <form action="/regeln/{{object.id}}">
            <input id="formzurueck"  type="submit" value="Zurück" />
        </form>
    </article>

    <script>
        function httpGet()
        {   
            var url = "http://127.0.0.1:8001/regeln/entfernen/"+{{object.id}}
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "GET", url, false );
            xmlHttp.send( null );
        }
    </script>
{% endblock %} 