body {
  margin: 0;
}

.container {
  color: #FFE600;
  margin: 1rem 0;
  border: 1px solid white;
  border-radius: 20px;
  background: #233443;
  width: 80%;
  padding: 10px;
}

.draggable {
  padding: 1rem;
  background-color: rgb(35 52 67);
  border: 1px solid black;
  cursor: move;
  border-radius: 20px;
  color: white;
  margin: 5px 0;
  word-break: break-all;
}

.draggable.dragging {
  opacity: 0.5;
  word-break: break-all;
}

.emptycontainer {
  border:1px solid #FFE600 !important;
  }


