<!-- Können hier per include noch verbessern -->
   
<section class="container"> Verwendete Regeln
    
</section>
<section class="container"> Verfügbare Regeln

    {% for regel in regeln %}
    
     <div class="draggable" draggable="true">
            <span class="dnd_reihenfolgennummer">{{forloop.counter}}.</span> 
            <span class="dnd_id">ID {{regel.id}}</span>
            <span class="dnd_name">Name {{regel.name}}</span>
            <span class="dnd_code" hidden>{{regel.code}}</span>
    </div> 
    {%endfor%}

</section>
