{%extends 'base.html' %}

{% block style %}
    {%load static%}
    <link rel="stylesheet" href="{% static 'drag-and-drop.css' %}">
{% endblock %} 

{% block skripte %}
    <script src="{% static 'drag-and-drop.js' %}" defer></script> 
{% endblock %} 

{% block titel %}
    Strategie erstellen 
{%endblock%}

{% block content %}
    <form action="." method="post" onsubmit="ausgewählteRegelnSpeichern()"> {% csrf_token %}
        {{form.as_p}}  
        {% include './drag_and_drop.html'%}
        <input type='submit' value="Erstellen">
    </form>
    
    <div>{% include 'zurück.html' with link="/strategien/" %}</div>
{% endblock %}


