{%extends 'base.html' %}

{% block titel %}TechTrader | Strategie Details{%endblock%}

{% block content %}
    <article>
        <h1>
            {% include 'zurueck_pfeil.html'%}
            <span id="headline1span">ID# {{object.id}}</span>
            Strategie "{{object.name}}"
        </h1>

        <span class="labelspan">Beschreibung</span>
        <p>{{object.beschreibung}}</p>

        <span class="labelspan">Regeln</span>
        <p>{{object.regeln}}</p>

        <form action="./bearbeiten/">
            <input id="submit"  type="submit" value="Bearbeiten" />
        </form>

        <form action="./entfernen/">
            <input id="formzurueck"  type="submit" value="Entfernen" />
        </form> 
    </article>
{% endblock %}