{%extends 'base.html' %}

{% block titel %}TechTrader | Strategie Details{%endblock%}

{% block content %}
    <article>
        <h1 class = "objektinformation">
            {% include 'zurueck_pfeil.html'%}
            <span id = "headline1span">ID# {{object.id}}</span>
            Strategie "{{object.name}}"
        </h1>

        <span class = "labelspan">Beschreibung</span>
        <p class = "objektinformation">{{object.beschreibung}}</p>

        <span class = "labelspan">Verwendete Regeln</span>
        <p></p>
        
        <table>
            <colgroup>
                <col span = "1" style = "width: 7;">
                <col span = "1" style = "width: 30%;">
                <col span = "1" style = "width: 63%;">
            </colgroup>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Beschreibung</th>
            </tr>
            {% for regel in verwendeteRegeln%}
                {%if regel.benutzer_id == "superuser" %}
                    <tr class = 'clickable-row' data-href = "{% url 'regel:regel-details' id = regel.id %}"> 
                        <td class = "superuserdata">{{regel.id}}</td>
                        <td class = "superuserdata">{{regel.name}}</td>
                        <td class = "superuserdata">{{regel.beschreibung}}</td>
                    </tr>
                {%else%}
                    <tr class = 'clickable-row' data-href = "{% url 'regel:regel-details' id = regel.id %}"> 
                        <td>{{regel.id}}</td>
                        <td>{{regel.name}}</td>
                        <td>{{regel.beschreibung}}</td>
                     </tr>
                {%endif%}
            {%endfor%}
        </table>

        <form action = "../">
            <input id = "submit"  type = "submit" value = "Zur Liste" />
        </form> 

        {% if bearbeitbar %}
        <form action = "./bearbeiten/">
            <input id = "submit"  type = "submit" value = "Bearbeiten" />
        </form>
        
        <form action = "./entfernen/">
            <input id = "formzurueck"  type = "submit" value = "Entfernen" />
        </form> 
        {%endif%}
    </article>

    <script>
        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });
    </script>
{% endblock %}