{%extends 'base.html' %}
{% block titel %}TechTrader | Strategien{%endblock%}
    
{%block style%}
  {% load static%}
  <link rel="stylesheet" href="{% static 'style.css' %}" defer>
{%endblock%}

{%block content%}


    <article>
        <h1>Strategien</h1>
        <p>Platzhalter</p>
        <form action="./hinzufuegen/">
          <input id="btnadd" type="submit" value="+ Strategie hinzufügen" />
        </form>
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Beschreibung</th>
            </tr>
            {% for strategie in object_list%}
            <tr> 
                <td>{{strategie.id}}</td>
                <td><a href="{% url 'strategie:strategie-details' id=strategie.id %}">{{strategie.name}}</a></td>
                <td>{{strategie.beschreibung}}</td>
            </tr>
          {%endfor%}
        </table>


        
    </article>
    

{%endblock%}